<script type="text/javascript" src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'>
</script>



 <div class=" flex-row footer text-center">
  <div>
    <p class="col-12">   
       <a href="https://ami.org/">Association of Medical Illustrators website</a> &nbsp; | &nbsp;
         info@ami.org  &nbsp; |   &nbsp;
         866-393-4AMI &nbsp; | &nbsp; 
         All Content ©<%= new Date().getFullYear();%>
         Association of Medical Illustrators.  
      <br />
      All Rights Reserved  ©<%= new Date().getFullYear(); %> &nbsp; | &nbsp;    
      <a href="https://ami.org/using-images-from-this-site"></a> Using Images from This Site </a> 
      <a href="https://ami.org/privacy">Policies</a>     
     </p>  
     <p>Site portal issues? <a href="mailto:shlomo@biochromatic.com?subject=WebP Portal Issues">email: webmaster</a> </p>
  </div> 
</div>
  </body>
</html>
