<%- include('partials/header.ejs') %>

<script>
  $(document).ready(function(){
    $("li.nav-item.dropdown.appendix").attr("style", "background-color:orange;");
    $("span.nav-link.dropdown-toggle.appendix").attr("style", "color:#fff;");
      });
</script>

      
<main class="d-flex justify-content-center m-4 singlePage align-items-center">
  
</main>





    






<%- include('partials/footer.ejs') %>