<%- include('partials/header.ejs') %>

<script>
    $(document).ready(function(){
        $("li.nav-item.dropdown.guidelines").attr("style", "background-color:orange;");
        $("span.nav-link.dropdown-toggle.guidelines").attr("style", "color:#fff;");
      });
</script>


<h1  class="fullSpan">General Salon Judging Guidelines</h1>
<article class="appendixContainer">
  <div class="guidelines">
    <h1>Goals and Purposes</h1>
    <h2>GENERAL SALON JUDGING</h2>
    <ul>
      <li>The purpose of an award is to acknowledge work that best reflects the ideals and high standards    of the profession.</li>
      <li>The purpose of the evaluation procedure is to efficiently select the most qualified and significant    pieces of artwork in each category.</li>
      <li>The selection process is designed to be impartial, unbiased and equitable.</li>
      <li>The goal is to evaluate an illustration based on objective criteria from problem solving, rendering skill and aesthetic appeal, rather than subjective impressions.</li>
      <li>The judging criteria attempt to reflect the ideals of the profession that make medical illustration    unique in the field of visual communication. Heavy emphasis is placed on problem-solving,    visualization and accuracy of medical subject matter in addition to visual impact and technique.</li>
    </ul>

    <h1>Awards</h1>
    <h2>A two-tiered award system will be used during judging.</h2>
    <p>It is not necessary to designate AWARDS OF EXCELLENCE or AWARDS OF MERIT for every category, if the judges do not feel that the entries attain the standards deserving of an award. This is left to the discretion of</p>
    <blockquote  class="indent">
      <h2 class="blue">AWARD OF EXCELLENCE</h2>
      <ul class="indent">
        <li>To be given to artwork that has met the highest standards of the profession.</li>
        <li>More than one AWARD OF EXCELLENCE may be granted by the judges.</li>
      </ul>
      <h2 class="blue">AWARD OF EXCELLENCE AWARD OF MERIT</h2>
      <ul class="indent">
        <li >To be given to artwork deserving special recognition of achievement. The judges may grant multiple AWARDS OF MERIT.</li>
      </ul>
    </blockquote>
    <h1>Anonymity</h1>
    <ul>
      <li>An attempt will be made to keep the artists anonymous by covering the artists’ signatures on   printed work and asking that digital entries be submitted without credits for judging. (A credited   copy may be used for the Salon opening and display.)</li>
      <li>The identity of judges on individual scoring sheets will also remain anonymous.</li>
      <li>All work to be judged has an individual code number based on the category and item number.   This number must be entered at the top of each scoring sheet by the judge.</li>
    </ul>
  </div>
</article>
<%- include('partials/footer.ejs') %>
