<%- include('partials/header.ejs') %>

<script>
  $(document).ready(function(){
      $("li.nav-item.dropdown.guidelines").attr("style", "background-color:orange;");
      $("span.nav-link.dropdown-toggle.guidelines").attr("style", "color:#fff;");
    });
</script>

<h1  class="fullSpan">Guidelines for Salon Prejudging</h1>
<article class="appendixContainer">
    <div class="guidelines">
      <h1>Prejudging Background</h1>
      <p>In the past, individuals have been hard-pressed to finish judging by the end of the day since the entries require so much time to adequately review. Prejudging is meant to save time on judging day by having the judges in certain categories review the entries prior to the meeting. Each judge will be able to review the entries in his/her assigned categories in the week prior to the meeting and then fill in the appropriate score sheets. On judging day at the Salon, judges need only discuss their results with the others in their assigned groups and decide on the award winners. This makes their day shorter and your job much less stressful. 
        <br />
        All but animation categories require the judge to be present to judge the pieces the afternoon before the salon. The animation teams will prejudge and meet on a video call the day of the conference opening.
      </p>

      <h1>Process for Judges:</h1>
      <ol class="indent">
        <li>Select My Judging Categories to review the categories you have been assigned</li>
        <li>Each page has a short description of each piece. </li>
        <li>Click on the description to select the entry. This will take you to the first question.</li>
        <li>Complete the prejudging for the entry by selecting the appropriate radio button.</li>
        <li>When finished hit the submit button</li>
        <li>Complete a questionnaire for each entry in every category you have been assigned.</li>
        <li>Once complete you can go to the results page and see all of your scores. </li>
        <li>On the day of judging bring your notes to review with your team.</li>
        <li>Once the final winners are decided, the group leader should go to the Award Winners tab to     enter the winners.</li>
      </ol>

      <ul>
        <li  class="noBullet orange">More than one "Award of Merit" or "Award of Excellence" can be awarded if there are entries that   deserve it.</li>
        <li class="noBullet orange">Please come with your phone or device to view and enter your results.</li>
      </ul>

    </div>
</article>

<%- include('partials/footer.ejs') %>
