<html>
<head>
<title>
</title>
</head>


<body>


<form action="page.php">

  AMI Salon Category: BOOK: ITEM NUMBER:
  Excellent Very Good Average Fair Poor Failure
  5 4 3 2 1 0
  Very High High Adequate Low Minimal Failure
  Circle the score that matches your evaluation of the artwork in response to the criteria.
  THE FOLLOWING CRITERIA ARE TO


<h1>
  The following criteria are to be evaluated exclusively as they pertain to the collected work of medical illustrations appearing in the book
</h1>




<h2>
 Part I: Communication Values
</h2>

<fieldset>
  <legend>

        <p>
              CONVEYS THE MESSAGE: Generally, medical art is produced to convey a specific message or idea.
              In the case of a book, the collected work must be evaluated. How well do the illustrations communicate
              the message identified in the statement of purpose?
        </p>
      <input type="radio" name="CONVEYS THE MESSAGE" value="5" >5
      <input type="radio" name="CONVEYS THE MESSAGE" value="4" >4
      <input type="radio" name="CONVEYS THE MESSAGE" value="3" >3
      <input type="radio" name="CONVEYS THE MESSAGE" value="2" >2
      <input type="radio" name="CONVEYS THE MESSAGE" value="1" >1

    </legend>
</fieldset>


<fieldset>
  <legend>
      <p>
      APPROPRIATE FOR THE INTENDED AUDIENCE: The simplicity or complexity of the artwork
      should be appropriate for the knowledge of the audience. For example, simplistic or irrelevant labeling
      should not be used for specialists in their area of expertise.
    </p>
      <input type="radio" name="APPROPRIATE FOR THE INTENDED AUDIENCE" value="5"> 5
      <input type="radio" name="APPROPRIATE FOR THE INTENDED AUDIENCE" value="4"> 4
      <input type="radio" name="APPROPRIATE FOR THE INTENDED AUDIENCE"  value="3"> 3
      <input type="radio" name="APPROPRIATE FOR THE INTENDED AUDIENCE" value="2">2
      <input type="radio" name="APPROPRIATE FOR THE INTENDED AUDIENCE" value="1"> 1

    </legend>
</fieldset>



<fieldset>
  <legend>

<p>
  USE OF MEDICAL ILLUSTRATION TO ILLUMINATE: Do the medical illustrations in the book
create a necessary and appropriate visual interpretation or clarification of the text or photographs?
</p>
  <input type="radio" name="USE OF MEDICAL ILLUSTRATION TO ILLUMINATE:" value="5">5
    <input type="radio" name="USE OF MEDICAL ILLUSTRATION TO ILLUMINATE:" value="4"> 4
    <input type="radio" name="USE OF MEDICAL ILLUSTRATION TO ILLUMINATE:"  value="3"> 3
    <input type="radio" name="USE OF MEDICAL ILLUSTRATION TO ILLUMINATE:" value="2">2
    <input type="radio" name="USE OF MEDICAL ILLUSTRATION TO ILLUMINATE:" value="1"> 1

  </legend>
</fieldset>


<fieldset>
  <legend>

        <p>
          ACCURACY OF MEDICAL OR SCIENTIFIC INFORMATION REPRESENTED: The
information must be accurate, depicting currently accepted standards of biological and anatomical
relationships and proportions. Pictorial manipulation of anatomical information as a teaching tool should
not be misleading or cause confusion. Note: This criterion is double weighted.
        </p>
      <input type="radio" name="ACCURACY" value="5" >5
      <input type="radio" name="ACCURACY" value="4" >4
      <input type="radio" name="ACCURACY" value="3" >3
      <input type="radio" name="ACCURACY" value="2" >2
      <input type="radio" name="ACCURACY" value="1" >1

    </legend>
</fieldset>


<fieldset>
  <legend>

        <p>
          CLARITY: The pictorial information should be clear, direct, precise, and easily read. It should be
          unencumbered with excessive, confusing, distracting peripheral information.

        </p>
      <input type="radio" name="ACCURACY" value="5" >5
      <input type="radio" name="ACCURACY" value="4" >4
      <input type="radio" name="ACCURACY" value="3" >3
      <input type="radio" name="ACCURACY" value="2" >2
      <input type="radio" name="ACCURACY" value="1" >1

    </legend>
</fieldset>


<h2>
Part II: Production Values
</h2>

<fieldset>
  <legend>

        <p>
          6. EFFECTIVENESS OF ILLUSTRATION TECHNIQUE(S) AND ILLUSTRATION MEDIA FOR
          USE IN BOOK PUBLICATION: All basic reproduction criteria for book publication should be met,
          including:; proper use of color, tone, line, and type within the reproduction limitations of the format;
          appropriate level of graphic complexity. Is the use of artistic style successful given the parameters of the
          publication?
        </p>
      <input type="radio" name="EFFECTIVENESS" value="5" >5
      <input type="radio" name="EFFECTIVENESS" value="4" >4
      <input type="radio" name="EFFECTIVENESS" value="3" >3
      <input type="radio" name="EFFECTIVENESS" value="2" >2
      <input type="radio" name="EFFECTIVENESS" value="1" >1

    </legend>
</fieldset>


<fieldset>
  <legend>

        <p>
          7. OVERALL COMPOSITION, DRAFTSMANSHIP, AND CRAFTSMANSHIP OF THE
          ILLUSTRATIONS ONLY: Evaluate the collective work in the use of design elements to focus
          attention, the creation of the illusion of depth, space and form, and the overall level of skill demonstrated
          in the application and handling of the technique and media.

        </p>
      <input type="radio" name="OverallCraftsmanship" value="5" >5
      <input type="radio" name="OverallCraftsmanship" value="4" >4
      <input type="radio" name="OverallCraftsmanship" value="3" >3
      <input type="radio" name="OverallCraftsmanship" value="2" >2
      <input type="radio" name="OverallCraftsmanship" value="1" >1

    </legend>
</fieldset>


<fieldset>
  <legend>

        <p>
          8. CONSISTENCY OF ARTISTIC AND DIDACTIC RENDERING: The book has no obvious or
          distracting inconsistencies in artistic style. The book has consistent use of didactic color throughout. For
          example, neurovasculature, tissues, or other repeated elements are rendered in the same manor and
          consistent colors throughout the book.

        </p>
      <input type="radio" name="CONSISTENCY" value="5" >5
      <input type="radio" name="CONSISTENCY" value="4" >4
      <input type="radio" name="CONSISTENCY" value="3" >3
      <input type="radio" name="CONSISTENCY" value="2" >2
      <input type="radio" name="CONSISTENCY" value="1" >1

    </legend>
</fieldset>



<fieldset>
  <legend>

        <p>
          9. INTEGRATION OF MEDICAL ILLUSTRATIONS INTO LAYOUT AND DESIGN: The medical
          illustrations are seamlessly integrated in the layout and design. The artwork blends with the design
          concept. Take into account the surrounding design and photographs, the size of illustrations, and
          consistency of the size of labels and lead lines on illustrations.


        </p>
      <input type="radio" name="LAYOUT" value="5" >5
      <input type="radio" name="LAYOUT" value="4" >4
      <input type="radio" name="LAYOUT" value="3" >3
      <input type="radio" name="LAYOUT" value="2" >2
      <input type="radio" name="LAYOUT" value="1" >1

    </legend>
</fieldset>


<br> <br>
<input type=button name="submit" value="submit">







</form>

</body>

</html>
